@media (max-width: 576px) {
  .hero-text {
    padding: 20px;
    background: linear-gradient(45deg, #141e30 0%, #243b55 100%);
  } 
  .container{
        --bs-gutter-x: 0rem !important;
  }
  .hero-container, .course-btn {
    padding: 0px;
    margin: 0px;
  }
  h1{
    font-size: 24px !important;
    color: #FFFFFF !important;
    text-align: start !important;
    line-height: 100%!important;
    padding-bottom: 10px !important;
    letter-spacing: 0%;
    margin-bottom: 0px !important;
  }
  h1 .primary-color{
    color: #ffffff !important;
  }
.highlight-container {
    margin-top: 0px;
    margin-bottom: 0px;
}

.highlight-container .d-flex {
    flex-wrap: nowrap !important; 
    overflow-x: auto;        
    -webkit-overflow-scrolling: touch; 
    padding-bottom: 10px;    
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.highlight-container .d-flex::-webkit-scrollbar {
    display: none;
}

.hl-card {
    flex: 0 0 auto; 
    display: flex;
    align-items: center;
    padding: 6px 10px !important;
    border: 1px solid #E2E2E3;
    gap: 6px;
    background: #FFFFFF;
}

.hl-card span {
    font-weight: 500;
    font-size: 10px !important;
}

.hl-card img {
    width: 12px !important;
    height: 12px !important;
}
/* course-fee-card */
.course-fee-card{
opacity: 1;
gap: 6px;
border-radius: 8px;
padding: 14px 12px;
background: #FFFFFF;
border: 1px solid #E2E2E3;
box-shadow: 0px 8px 16px 0px #0000000D;
margin: 20px 18px 0px 18px;
}
.course-fee-card h6{
    font-size: 16px;
    margin-bottom: 10px;
    color: #282828;
}
 .current-price {
    font-size: 30px;
}
.price{
    gap: 8px;
    margin-bottom: 6px;
}
.original-price {
    font-size: 14px;
    font-weight: 600;
  }
  .discount-badge {
    margin-left: 10px;
    font-size: 12px;
    padding: 6px 12px;
    font-weight: 600;
    text-align: center;
  }
  .rating-badge {
    padding: 0px;
    font-size: 10px;
    gap: 10px;
    background: none;
    margin-bottom: 10px;
    
  }
 .rating-card span, .customer-reviews-link {
    padding: 0;
    margin-left: 0;
    background: none;
    color: #ffffff !important;
    gap: 8px;
    font-size: 10px;
  }
.enroll-active-btn{
border-radius: 8px;
padding: 16px 24px;
margin-top: 6px;
margin-bottom: 14px;
width: 100% !important;
font-size: 14px;
font-weight: bold;
}
.available-dates-btn{
border-radius: 8px;
padding: 16px 24px;
background: white;
border: 1px solid var(--primary-color) !important;
color: var(--primary-color);
text-align: center;
width: 100%;
}
.course-image{
width: 90%;
height: 200px;
opacity: 1;
border-radius: 12px;
  border-radius: 12px;
  object-fit: cover;
  margin: 0 20px;

}
/* course-fee-card */
.accredited-container{
padding: 16px 12px;
gap: 24px;
border-radius: 8px;
margin: 36px 20px;
}
h2{
font-weight: 600;
font-size: 20px;
margin-bottom: 24px;
}
.arccedited-card{
padding: 10px;
gap: 20px;
border-radius: 8px;
margin: 0 auto;
}
.arccedited-card img{
width: 50px;
height: 45px;
opacity: 1;
border-radius: 8px;
border-width: 1px;

}

  
  
  
  .action-container {
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

    gap: 14px;
  }
  .action-container-btn {
    width: 100%;
    margin: 0 auto;
    
  }
  .btn-book{
    padding: 12px 10px !important;
    border-radius: 8px;

  }
  .booking-info-block-sm {
    border: 1px solid #168442;
    color: #168442;
    padding: 10px 14px;
    margin-top: 14px;
    border-radius: 8px;
    font-size: 9px;
  }
  .primium-bundle {
    background-color: #082057;
    color: #ffffff;
    padding: 14px;
    margin-top: 14px;
    border-radius: 8px;
    gap: 8;
    font-size: 12px;
    line-height: 20px;
  }
  .original-price-black {
    color: #f0f2f580;
    text-decoration: line-through;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 18px 0 0;
  }
 

  .ticker-overflow-hidden {
    overflow: hidden;
    width: 100%;
    background: #fff;
    margin-top: 36px;
  }

  /* exam-book */
  .secoend-heading {
    font-size: 20px;
    margin: 0px;
  }
  .second-subtitle {
    font-size: 14px !important;
    margin-top: 10px;
    margin-bottom: 36px;
  }
  .book-container {
    width: 100%;
  }
  #exam-board-options button {
    padding: 10px;
    border-radius: 8px !important;
    font-size: 12px;
  }
  #exam-board-options button img {
    width: 16px;
    height: 16px;
  }
  .book-container {
    width: 100% !important;
    padding: 10px !important;
    font-size: 12px !important;
    margin-top: 36px;
  }
  .original-price-2 {
    color: #cecece;
    font-size: 12px;
    font-weight: 400;
    text-decoration: line-through;
    padding: 4px 16px 0 0;
  }

  /* featurs */
  .featurs-container {
    padding: 10px 0;
  }
  .feature {
    padding: 6px 8px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500 !important;
    letter-spacing: 0%;
  }
  .feature img {
    height: 20px; /* Ensure consistent icon sizing */
    width: auto;
  }
  /* Step Badges */
  .badge {
    font-size: 16px !important;
    padding: 6px 10px !important;
    margin-right: 5px !important;
  }

  h5.fs-5 {
    font-size: 1.1rem !important;
  }

  /* Step 3: Calendar Header & Grid */
  .calendar-header {
    flex-wrap: nowrap;
    justify-content: center !important;
    gap: 10px;
    position: relative;
  }
  .feburary,
  .year {
    font-size: 12px !important;
  }
  .month-change-left {
    position: absolute;
    left: 1px;
    width: 10px;
  }
  .month-change-right {
    position: absolute;
    right: 1px;
    width: 10px;
  }
  #calendar-grid {
    gap: 6px;
  }

  .date-box {
    font-size: 11px !important;
    border-radius: 6px !important;
  }

  .available-date {
    font-size: 13px !important;
  }

  /* Step 4: Exam Options Stacking */
  #exam-type {
    flex-direction: column !important;
    gap: 15px !important;
  }

  #exam-type button h3 {
    font-size: 18px !important;
    margin-bottom: 0;
  }

  /* Force the Add to Cart button to be wider on mobile */
  #book-exam .btn-primary.col-6 {
    width: 100% !important;
    /* padding: 12px !important; */
    font-size: 1.1rem !important;
    box-shadow: 0px 4px 4px 0px #00000026;
  }

  /* Footer Trust Icons (Klarna/Clearpay) */
  #book-exam .mt-4.gap-5 {
    gap: 1.5rem !important;
    flex-wrap: wrap;
    justify-content: center;
  }

  #book-exam .mt-4 p {
    font-size: 0.8rem !important;
  }

  #book-exam .mt-4 img {
    height: 20px;
    width: auto;
    margin-bottom: 5px !important;
  }
  #board-alert {
    font-size: 10px;
    padding: 12px;
    line-height: 146%;
    gap: 8px;
  }
  #board-alert img {
    width: 12px;
    height: 15px;
  }
  #invigilation-options h6 {
    font-size: 14px !important;
  }
  .status-box img {
    width: 10px;
    height: 10px;
  }

  .date-box {
    font-size: 10px !important;
  }

  .available-date {
    font-size: 12px !important;
  }

  .calendar-header h4 {
    font-size: 1rem;
  }

  h5.fs-5 {
    font-size: 1rem !important;
  }

  #exam-process {
    padding: 38px 2px 48px 2px;
    background: #f9fafb;
  }
  #exam-process .row,
  #choose-style .row,
  #exam-breakdown .row,
  #tecnical-requirments .row,
  #faqs .row {
    --bs-gutter-x: 0;
  }
  .la-card {
    padding: 16px 12px;
    box-shadow: 0px 4px 4px 0px #0000000d;
    margin-bottom: 16px;
    text-align: center;
    background: #ffffff;
  }
  .la-card h3 {
    font-size: 16px;
  }
  .la-card .la-description {
    font-size: 14px !important;
  }
  #choose-style {
    padding: 0 2px;
  }

  .choose-style-header {
    margin-bottom: 36px !important;
  }

  .choose-style-header p,
  .exam-process-header p,
  .exam-breakdown-header p {
    font-size: 14px !important;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }

  /* Card Container Tweaks */
  .style-card,
  .style-card-popular,
  .style-card-boards {
    border: 1px solid #eee;
    background: #fff;
    height: auto !important;
  }
  .style-icon-container .d-flex {
    flex-wrap: nowrap;
  }
  #booking-summary {
    border: 1px solid #f64e85; 
    width: 100%;
    margin: 16px auto 4px auto;
   
}
#booking-summary p {
    font-size: 10px !important;
}
#booking-summary h3 {
    font-size: 12px !important;
    letter-spacing: 0;
}
  /* Mobile Specific Adjustments */
  #choose-style h3 {
    font-size: 14px !important;
    font-weight: 900;
  }
  .style-icon-container img {
    max-width: 50px;
    height: auto;
  }

 .style-details{
  background: rgba(249, 250, 251, 1);
 }

.style-card {
  border-top-width: 10px;
  border-top-color: #f64e85;
  border-right-color: rgba(218, 51, 105, 0.3);
  border-left-color: rgba(218, 51, 105, 0.3);
  border-bottom-color: rgba(218, 51, 105, 0.3);
 
}

.style-card-popular {
  border-top-width: 10px;
  border-top-color: #4d5df5;
  border-right-color: rgba(77, 93, 245, 0.3);
  border-left-color: rgba(77, 93, 245, 0.3);
  border-bottom-color: rgba(77, 93, 245, 0.3);
}

  .text-purple {
    color: #4d5df5;
  }
  .bg-light-purple {
    background: rgba(241, 242, 254, 1);
  }

  .style-card-boards {
  border-top-width: 10px;
  border-top-color: #168442;
  border-right-color: rgba(22, 132, 66, 0.3);
  border-left-color: rgba(22, 132, 66, 0.3);
  border-bottom-color: rgba(22, 132, 66, 0.3);
}

  .bg-success-light {
    background: rgba(16, 183, 127, 0.2);
  }
  /* Exam Breakdown */
  #exam-breakdown {
    padding: 0px 2px;
    background: #f9fafb;
    margin-top: 0;
  }
  #exam-breakdown h3 {
    font-size: 16px !important;
    line-height: 146%;
    letter-spacing: 0.5%;
    margin-bottom: 12px !important;
  }
  .non-calculator,
  .calculator {
    padding: 12px 0 !important;
    border-radius: 8px !important;
  }
  .non-calculator p,
  .calculator p {
    font-size: 12px !important;
    margin-bottom: 0 !important;
  }
  .non-calculator h4,
  .calculator h4 {
    font-size: 14px !important;
    margin-bottom: 8px !important;
  }
  .non-calculator img,
  .calculator img {
    width: 43px !important;
    margin: 0 4px;
  }
  .area-box {
    border-radius: 8px !important;
    padding: 14px !important;
  }
  .area-box img {
    width: 46px !important;
  }
  .area-box p {
    font-size: 16px !important;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 20px !important;
  }
  .area-of-study p {
    font-size: 14px !important;
    letter-spacing: 0.5%;
    margin-bottom: 10px !important;
    padding: 10px !important;
  }
  /* Tecnical Requirements */

  #tecnical-requirments {
    padding: 48px 2px;
  }

  #tecnical-requirments img {
    width: 40px !important;
  }
  #tecnical-requirments h5 {
    font-size: 14px !important;
    margin-bottom: 6px !important;
  }
  #tecnical-requirments span {
    font-size: 12px;
    /* line-height: 140%; */
  }
  #tecnical-requirments .border-bottom {
    border-bottom: none !important;
  }
  .vertical-line,
  .vertical-line-wifi {
    background-color: rgba(218, 51, 105, 0.2);
    /* height: 30px; */
  }
  

  /* Testimonials */
  #testimonials {
    padding: 0px 20px;
  }
  .testimonial-card {
    border-radius: 8px !important;
    padding: 16px 10px !important;
  }

  #user-icon {
    width: 36px !important;
    height: 36px !important;
    margin-right: 1.5px !important;
  }

  #user-name {
    font-size: 14px !important;
    margin-bottom: 6px !important;
  }
  #user-role {
    font-size: 10px !important;
    line-height: 142%;
  }
  .mobile-nav-btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #198754;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
  }
  /* FAQ */
  #faqs {
    padding: 48px 2px;
    background: #f9fafb;
  }
  #faqs h2 {
    margin-bottom: 36px !important;
    font-size: 20px !important;
    letter-spacing: -1%;
  }
  .accordion-button {
    padding: 12px 14px;
    border-radius: 8px;
    font-size: 16px !important;
    font-weight: 600;
    line-height: 142%;
    color: rgba(0, 0, 0, 1);
    justify-content: space-between;
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.05) !important;
  }
  .calendar-header button {
    background: none !important;
    border: none !important;
    padding: none !important;
    box-shadow: none !important;
  }
  

  @keyframes ticker_scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
@media (min-width: 576px) {
    .highlight-container {
        margin-top: 36px !important;
        margin-bottom: 24px !important;
    }

    .highlight-container .d-flex {
        overflow-x: visible; /* Disable scrolling on desktop if not needed */
        justify-content: center; /* Center the items on large screens */
    }

    .hl-card {
        padding: 10px 16px !important;
        border-radius: 30px;
        gap: 12px;
        flex: 0 1 auto; /* Let them sit naturally side-by-side */
    }

    .hl-card span {
        font-weight: 600;
        font-size: 16px !important;
    }

    .hl-card img {
        width: 20px !important;
        height: 20px !important;
    }
}