@media (max-width: 576px) {
  .hero-text {
    padding: 20px;
    background: linear-gradient(45deg, #141e30 0%, #243b55 100%);
  } 
  .container{
        --bs-gutter-x: 0rem !important;
  }
  .hero-container, .course-btn-for-enroll{
    padding: 0px;
    margin: 0px;
  }
  h1{
    font-size: 24px !important;
    color: #FFFFFF !important;
    text-align: start !important;
    line-height: 100%!important;
    padding-bottom: 10px !important;
    letter-spacing: 0%;
    margin-bottom: 0px !important;
  }
  h1 .primary-color{
    color: #ffffff !important;
  }
.highlight-container {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    overflow: hidden;
}

.highlight-container .d-flex {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    animation: scroll-infinite 10s linear infinite;
}
.highlight-container:hover .d-flex {
    animation-play-state: paused;
}

.highlight-container .d-flex::-webkit-scrollbar {
   flex-wrap: nowrap !important; 
    overflow-x: auto;        
    -webkit-overflow-scrolling: touch; 
    padding-bottom: 10px;    
    -ms-overflow-style: none; 
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 10px;
}
@keyframes scroll-infinite {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.hl-card {
    flex: 0 0 auto; 
    display: flex;
    align-items: center;
    padding: 6px 10px !important;
    border: 1px solid #E2E2E3;
    gap: 6px;
    background: #FFFFFF;
    scroll-snap-align: start
}

.hl-card span {
    font-weight: 500;
    font-size: 10px !important;
}

.hl-card img {
    width: 12px !important;
    height: 12px !important;
}
/* course-fee-card */
.course-fee-card{
opacity: 1;
gap: 6px;
border-radius: 8px;
padding: 14px 12px;
background: #FFFFFF;
border: 1px solid #E2E2E3;
box-shadow: 0px 8px 16px 0px #0000000D;
margin: 20px 18px 0px 18px;
}
.course-fee-card h6{
    font-size: 16px;
    margin-bottom: 10px;
    color: #282828;
}
 .current-price {
    font-size: 30px;
}
.price{
    gap: 8px;
    margin-bottom: 6px;
}
.original-price {
    font-size: 14px;
    font-weight: 600;
  }
  .discount-badge {
    margin-left: 10px;
    font-size: 12px;
    padding: 6px 12px;
    font-weight: 600;
    text-align: center;
  }
  .rating-badge {
    padding: 0px;
    font-size: 10px;
    gap: 10px;
    background: none;
    margin-bottom: 10px;
    
  }
 .rating-card span, .customer-reviews-link {
    padding: 0;
    margin-left: 0;
    background: none;
    color: #ffffff !important;
    gap: 8px;
    font-size: 10px;
  }
.enroll-active-btn{
border-radius: 8px;
padding: 16px 24px;
margin-top: 6px;
margin-bottom: 14px;
width: 100% !important;
font-size: 14px;
font-weight: bold;
}
.available-dates-btn{
border-radius: 8px;
padding: 16px 24px;
background: white;
border: 1px solid var(--primary-color) !important;
color: var(--primary-color);
text-align: center;
width: 100%;
}
.course-image{
width: 90%;
height: 200px;
opacity: 1;
border-radius: 12px;
  border-radius: 12px;
  object-fit: cover;
  margin: 0 20px;

}
/* course-fee-card */
.accredited-container{
padding: 16px 12px;
gap: 24px;
border-radius: 8px;
margin: 36px 20px;
}
h2{
font-weight: 600;
font-size: 20px;
margin-bottom: 24px;
}
.sub-heading h2{
font-weight: 600;
font-size: 20px;
margin-bottom: 24px;
}
.arccedited-card{
padding: 10px;
gap: 20px;
border-radius: 8px;
margin: 0 auto;
}
.arccedited-card img{
width: 50px;
height: 45px;
opacity: 1;
border-radius: 8px;
border-width: 1px;

}

.experience-gellary-container{
padding: 0;
gap: 36px;
margin: 36px 20px 24px 20px;
}
.top-title{
font-size: 14px;
margin-bottom: 10px;
}
.sub-heading h2{
  margin-bottom: 10px;
}
 .subtitle{
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
}
.sub-heading{
  margin-bottom: 36px;
}
/* course for */
.course-for-container{
  padding: 24px 50px;
}
.course-for-container h2{
  margin-bottom: 24px !important;
  font-size: 24px;
}
.course-for-card{
padding: 18px 14px;
gap: 12px;
border-radius: 8px;
}
.course-for-card h5{
font-size: 16px;
}
.course-for-card p{
font-size: 14px;
}
.course-for-card img{
width: 46px;
height: 46px;
}


/* about the coure */
.about-the-course-container{
padding: 24px 20px;
gap: 36px;
opacity: 1;
background: white;
}
.about-the-course-container h2{
  margin-bottom: 0 !important;
  font-size: 20px;
  font-weight: 600px;
}
.about-description{
  margin-bottom: 14px !important;
}
.about-description p{
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;

}
.about-description img{
width: 14px;
height: 15px;

}
.about-the-course-container-img img{
  width: 100%;
margin: 0 auto;
opacity: 1;
border-radius: 12px;
border-width: 1px;

}
/* curriculum */
.currigulum-container{
padding: 24px 20px;
gap: 36px;
width: 100%;
background: rgba(247, 248, 250, 1);
;
}
.top-badge {
  font-size: 14px;
  font-weight: 600;
}
.style-icon-container{
padding: 28px 0 21px 24px;
}
.style-icon-container h3{
font-size: 18px;
}
.suggetions-card{
padding: 24px;

}
.session-type{
  margin-bottom: 24px;
}
.session-type h4{
font-size: 16px;
font-weight: 600;
margin-bottom: 14px;
}
.session-type .session-des{
font-size: 14px !important;
}
.session-type img{
width: 12px;
}
.book-btn {
    width: 80% !important;
    border-radius: 10px !important;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }

/* testimonial */
.testimonial-container{
gap: 36px;
padding: 0;
margin: 36px 20px;
background: #FFFFFF;

}
.badge-top{
display: none;
}
.testimonial-card{
gap: 700px;
padding: 18px 16px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);;
border: 1px solid rgba(226, 226, 227, 1);
background: rgba(255, 255, 255, 1);
}
.user-name{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px !important;
   line-height: 0;
}
.user-address, .user-role{
  font-size: 12px;
  font-weight: 600;
  color: rgba(147, 147, 147, 1);
  margin-bottom: 10px !important;
  display: inline-block;
}
.testimonial-title{
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}
.testimonial-content{
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 34px;
  width: 100%;
}

.thumb-line {
border-radius: 9999px;
background: #E5E7EB;
    cursor: pointer;
    display: inline-block;
    margin: 0 6px;
    transition: background-color 0.3s ease;
}
.nav-btn {
  background: var(--primary-color);
  color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.testimonial-arrow-left {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

.testimonial-arrow-right {
  position: absolute;
  right: 30px; 
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.nav-btn {
  width: 36px;
  height: 36px;
  backdrop-filter: blur(10px);
box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease;
  border: 1px solid rgba(0, 0, 0, 0.1)
}

.nav-btn:hover {
  transform: scale(1.1); 
}
/* book traning */
.book-traning-container{
gap: 24px;
padding:24px 20px;
background: #FFFFFF;
}
.book-traning-card {
gap: 14px;
padding: 18px;
width:100%;
margin: 16px auto;
}
.booking-info{
  display: flex;
  align-items: center;
justify-content: space-between;
margin-bottom: 30px;
}
.location .location-text{
font-weight: 600;
font-size: 18px;
margin-bottom: 8px;
}
.location-icon{
  margin-bottom: 6px;
  font-size: 12px;
 color: rgba(31, 31, 31, 1);
 width: 70%;
}
.date-mobile, .time{
  font-size: 14px;
}
.date-mobile img, .time img{
  width: 10px;
  height: 10px;
}
.alert-for-seats, .alert-for-no-seats{
padding:0;
border-radius: none;
background: none;
border: none;
margin:0;
font-size: 12px;
}
.book-price{
display: flex;
flex-direction: column;
gap: 10px;
}
.book-price .pricing-tag{
 display: flex;
 align-items: center;
justify-content: center;
gap: 8px;
}
.pricing-tag .current-price, .special-offer-course .current-price {
  font-weight: 500;
font-size: 18px;
letter-spacing: 1%;
line-height: 146%;
}
.special-offer-course .current-price{
  line-height: 100%;
}
.pricing-tag .original-price, .special-offer-course .original-price, .only-for {
font-weight: 600;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
}
.book-price .book-now-btn, .already-booked-btn{
padding: 6px 12px;
border-radius: 8px;
font-weight: 700;
font-size: 14px;
}
.special-offer{
margin-left: 0;
padding: 20px 10px 10px 10px;
background: rgba(246, 78, 133, 0.08);
border: 1px solid rgba(246, 78, 133, 0.3)
}
.special-offer-text{
gap: 6px;
}
.special-offer-text img{
width: 28px;
height: 16px;
}
.special-offer-text .text-morning{
 font-size: 12px;
 font-weight: 600; 
}
.special-offer .discount-top{
right: 20px;
font-size: 12px;
padding: 4px 6px;
font-weight: normal;
}
.special-offer-text .p-text-black{
margin-bottom: 6px;
font-size: 14px;
font-weight: 600;
}
.alert-for-no-seats{
background: none;
color: #E02727;
border: none
}
.already-booked-btn{
  background: #1F1F1F;
  border: 1px solid #1F1F1F;
}
.special-offer-course{
  margin-left: 30px;
}
.see-more-btn{
border-radius: 8px;
padding: 8px 16px;
font-size: 14px;
font-weight: 500;
box-shadow: 0px 8px 16px 0px #0000000D;
margin-top: 24px;
}
  /* FAQ */
  #faqs {
  padding: 24px 20px 36px 20px;
  background: #F7F8FA;
}
.faqs-container{
padding: 0;
border-radius: 0;
background: #F7F8FA;
border: none
}
.faq-title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 36px;
}
.accordion-header button{
  font-size: 16px;
  line-height: 100%;
  padding: 12px 14px; 
}
.question-of-faq{
  width: 86%;
}
.accordion-button::before {
  content: url('https://i.ibb.co.com/wFSBshvC/Frame-80-2.png');
  right: 10px;
}
.accordion-item {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 16px; 
  border-radius: 8px !important;
}

.accordion-button:not(.collapsed)::before {
  content: url('https://i.ibb.co.com/Y4bnTYDw/Frame-80-3.png');
  padding-top: 10px;
}

}
@media (min-width: 576px) {
    .highlight-container {
        margin-top: 36px !important;
        margin-bottom: 24px !important;
    }

    .highlight-container .d-flex {
        overflow-x: visible; /* Disable scrolling on desktop if not needed */
        justify-content: center; /* Center the items on large screens */
    }

    .hl-card {
        padding: 10px 16px !important;
        border-radius: 30px;
        gap: 12px;
        flex: 0 1 auto; /* Let them sit naturally side-by-side */
    }

    .hl-card span {
        font-weight: 600;
        font-size: 16px !important;
    }

    .hl-card img {
        width: 20px !important;
        height: 20px !important;
    }
}
@media (min-width: 768px) {
  .image-gallery {
    grid-template-columns: 1fr 1fr 1fr; /* 3 equal columns */
    align-items: stretch;
  }

  /* Force the side images to take up the full height of the center's two images */
  .leftside-img img, 
  .rightside-img img {
    height: 100%;
  }

  /* Split the middle column into two equal halves */
  .middle-img img {
    height: calc(50% - 7.5px); /* Subtracting half of the gap */
  }
}